CONFIG_SF_DEFAULT_SPEED=20000000
CONFIG_SPL_CLK=y
CONFIG_SPL_DM_RESET=y
CONFIG_OF_SPL_REMOVE_PROPS="interrupt-parent interrupts"
CONFIG_SPL_SPI=y
CONFIG_SPL_DM_SPI=y
CONFIG_SPI_MEM=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_DM_SPI_FLASH=y
CONFIG_SPL_SPI_LOAD=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SYS_SPI_U_BOOT_OFFS=0x20000
CONFIG_BOOTDEV_SPI_FLASH=y
CONFIG_SPI_FLASH_MT35XU=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH=y
CONFIG_SPI=y
CONFIG_CADENCE_QSPI=y
CONFIG_SPL_REGMAP=y
CONFIG_SPL_SYSCON=y
CONFIG_CADENCE_OSPI_PMC=y
CONFIG_HAS_CQSPI_REF_CLK=y
CONFIG_CQSPI_REF_CLK=100000000
CONFIG_SPL_PINCTRL=y
# CONFIG_SPL_PINCONF_RECURSIVE is not set
# CONFIG_SPL_PARTITIONS is not set
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
CONFIG_MISC=y
# CONFIG_SPL_MISC is not set
CONFIG_NVMEM=y
# CONFIG_SPL_NVMEM is not set
CONFIG_NVMEM_AMD_PMC=y
